@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

body {
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto;
}

/* --- Navbar --- */

.navbar-nav {
  font-size: 30%;
  list-style-type: none;
  letter-spacing: 2px;
  padding-bottom: 10px;
  background-color: #3e4623;
}

nav .nav-wrapper {
  position: relative;
  height: 70px;
}

.navbar-nav a {
  text-decoration: none;
  color: #fafafa;
  font-size: 18px;
  list-style-type: none;
}

.navbar-nav a:hover {
  border-bottom: 2px solid rgba(223, 166, 10, 0.8);
}

.navbar-nav .active {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.navbar-nav .site-logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

.btn-style {
  margin: 0px 10px;
}

/*--- home page --*/

.container-cover {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0px;
}

.services-container {
  height: auto;
  margin-bottom: 30px;
}

#hero-img {
  height: auto;
  width: 100%;
}

.welcome-text {
  margin-bottom: 50px;
  margin-top: 20px;
}

/*- Headings */

#main-heading {
  text-align: center;
  margin-bottom: 30px;
  color: orange;
  font-weight: bold;
}

#services-heading {
  text-align: center;
  margin-bottom: 25px;
  color: orange;
  font-weight: bold;
}

.main-subheading {
  color: orange;
  font-weight: bold;
}

#admin-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: orange;
  font-weight: bold;
}

.admin-header {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: grey;
}

/*-  cover text */
#cover-text h3 {
  color: #fafafa;
  margin: 10px auto;
  text-align: center;
}

#cover-text {
  text-align: center;
  font-size: 1.1rem;
  color: #fafafa;
  font-family: "Exo", sans-serif;
  /*text-transform: uppercase;*/
  letter-spacing: 4px;
  width: 450px;
  height: 265px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgba(63, 70, 36, 0.8);
  top: 45%;
  left: 23%;
  position: absolute;
}

/*   Driver program-*/
#driver-text h3 {
  color: #fafafa;
  margin: 10px auto;
  text-align: center;
}

#driver-text {
  text-align: center;
  font-size: 1.1rem;
  color: #fafafa;
  font-family: "Exo", sans-serif;
  letter-spacing: 4px;
  width: 450px;
  height: 265px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgba(85, 58, 40, 0.8);
  top: 45%;
  left: 52%;
  position: absolute;
}

/*-----Footer ----*/

.page-footer {
  margin-top: 50px;
  padding: 10px;
  height: 170px;
  background-color: rgba(63, 70, 36, 0.8);
}

.footer-details {
  height: 120px;
}

/*  Admin link text- --*/

.admin-desc {
  font-size: 18px;
  margin-top: 1.1rem;
}

.admin-button {
  background-color: #40c4ff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;

  border: none;
  margin-top: 20px;
}

.model-display {
  background-color: grey;
  color: white;
  /* padding: 10px 20px;*/
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.specs {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.specs-db {
  font-weight: bold;
  color: green;
}

.specs1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.specs-db1 {
  font-weight: bold;
  color: green;
}

/* ----- cabs page div --*/

.search-container {
  position: relative;
  left: 10%;
  margin-top: 50px;
}

.available {
  background-color: #26a69a;
  height: 30px;
  width: 90%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fafafa;
  position: relative;
  left: 7%;
}

.book-it {
  width: 100%;
  position: relative;

  margin-bottom: 5px;
}

.book-thisCab {
  margin-top: 60px;
}

.book_btn {
  width: 40%;
  position: relative;
  left: 2%;
}

#modal1 {
  width: 400px;
}

#rates {
  font-size: 18px;
  color: blue;
  text-align: center;
}

#currency {
  font-size: 50px;
  color: orangered;
}

#contact-heading {
  padding: 5px;
  text-align: center;
}

#contact-details {
  text-align: center;
  padding: 15px;
}

.booker-info {
  padding: 50px;
}

.cab-headings {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: orange;
  font-weight: bold;
  position: relative;
  right: 18%;
}

.for-hire {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

/*-----Find a specific Cab page----*/

.page-headings {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: orange;
  font-weight: bold;
}

.findcab-container {
  margin-top: 100px;
  margin-bottom: 300px;
}

.delete-btn {
  margin-left: 40px;
}

/*----Search for Cabs by Model or Brand --*/

.results-container {
  margin-top: 120px;
  margin-bottom: 350px;
}

/*-------Add Booking Page --*/

.addBooking-container {
  width: 50%;
  padding: 50px;
}

/*----Edit Cab Page --*/

.editCab-container {
  width: 40%;
  padding: 20px;
  margin-top: 50px;
}

/*-------------Admin Section--------------*/

/*---Add Vehicle Type --*/

.types-heading {
  font-weight: bold;
  margin-bottom: 20px;
}

.types-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  color: green;
}

.available-types {
  height: 28px;
  width: 50%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 27%;
}

.name-type {
  height: 150px;
  width: 90%;
  position: relative;
  left: 7%;
  margin-bottom: 5px;
}

.addType-container {
  width: 40%;
  padding: 30px;
  margin-top: 160px;
  margin-bottom: 310px;
}

.new-types {
  padding: 60px;
}

/* Edit Vehicle Type */

.editType-container {
  width: 40%;
  padding: 20px;
  margin-top: 160px;
  margin-bottom: 310px;
}

/*----------- New Vehicle Brand --*/

.addBrand-container {
  width: 40%;
  padding: 30px;
  margin-top: 160px;
  margin-bottom: 310px;
}

.editBrand-container {
  width: 40%;
  padding: 20px;
  margin-top: 160px;
  margin-bottom: 310px;
}

/*----------- New Vehicle Model --*/

.addModel-container {
  width: 50%;
  padding: 30px;
  margin-top: 160px;
  margin-bottom: 310px;
}

.editModel-container {
  width: 40%;
  padding: 20px;
  margin-top: 160px;
  margin-bottom: 310px;
}

/*------Add New cab --*/

.addCab-container {
  width: 40%;
  padding: 5px;
  margin-top: 10px;
}

/*-----------------Log In------*/

.profile-container {
  padding: 30px;
  margin-top: 160px;
  margin-bottom: 350px;
}

.login-container {
  height: 500px;
  width: 40%;
  margin-bottom: 250px;
  margin-top: 100px;
}

.registe-container {
  height: 500px;
  width: 40%;
  margin-bottom: 250px;
  margin-top: 100px;
}

.flashes h4 {
  line-height: 1;
}


/*-----Contact Page ---*/

.contact-container {
  height: 500px;
  width: 40%;
  margin-bottom: 250px;
  margin-top: 100px;
}


/*-------Social Media icons-----*/

.social-links {
  padding-bottom: 15px;
  float: right;
  padding-top: 39px;
  margin-top: 10px;
  display: flex;
}

ul:not(.browser-default) > li {
  list-style-type: none;
  margin: 5px;
}

.social-links li a i {
  width: 30px;
  height: 30px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 18px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: rgb(223, 151, 18);
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: orangered;
}

#footer-details {
  padding-top: 10px;
}

.social-sub {
  position: absolute;
  right: 20px;
}

footer p {
  font-size: 16px;
}

/*--------- End of Social Media--------*/

/*-------------Media Queries------------*/

@media screen and (max-width: 743px) {
  .container-cover {
    height: auto;
    width: 100%;
    margin-top: 0px;
  }

  /*---------Headings ---------*/
  #main-heading {
    text-align: center;
    color: orange;
    font-weight: bold;
    font-size: 24px;
  }

  #services-heading {
    text-align: center;
    color: orange;
    font-weight: bold;
    font-size: 26px;
  }

  .cab-headings {
    text-align: center;
    margin-bottom: 30px;
    color: orange;
    right: 3%;
  }

  .page-headings {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: orange;
    font-weight: normal;
  }

  .welcome-text {
    margin: 0px;
  }

  #cover-text {
    display: none;
  }

  #driver-text {
    display: none;
  }

  /*----Footer ---*/

  .page-footer {
    margin-top: 50px;
    padding: 0;
    height: 295px;
    background-color: rgba(63, 70, 36, 0.8);
  }

  /*-- Cab Type, Brand pages -*/

  .addCab-container {
    padding: 20px;
  }

  .addType-container {
    width: 100%;
    padding: 0px;
  }

  .addBrand-container {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .specs1 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /*--  Search --*/
  .search-container {
    position: relative;
    margin-top: 30px;
    left: 0%;
  }

  .orange.lighten-2 {
    background-color: #ffb74d !important;
    margin-bottom: 10px;
  }

  .booker-info {
    padding: 10px;
  }

  /* COntact, Login, register and Profile pages --*/

  .contact-container {
    width: 90%;
    margin-top: 20px;
    padding: 0px;
    margin-bottom: 0px;
  }

  .login-container {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 5px;
    width: 90%;
  }

  .registe-container {
    width: 90%;
    margin-top: 32px;
    padding: 0px;
    margin-bottom: 5px;
  }

  .profile-container {
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .admin-desc {
    font-size: 18px;
  }

  .admin-container {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
  }

  /*  -- Buttons --*/

  .cancel-btn {
    margin-top: 10px;
  }

  .admin-button {
    background-color: #40c4ff;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
  }

  .page-headings {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: orange;
  }

  .types-heading {
    font-weight: bold;
    font-size: 20px;
  }

  .new-types {
    padding: 5px;
  }

  /*--  Add, Edit Cab, Type and Brand pages --*/

  .addType-container {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .editType-container {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .editBrand-container {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .addCab-container {
    width: 100%;
    padding: 15px;
  }

  .findcab-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .delete-btn {
    margin-left: 0px;
  }

  .editCab-container {
    width: 90%;
    padding: 20px;
    margin-top: 10px;
  }

  /* Flash message */

  .flashes h4 {
    line-height: 1;
    font-size: 18px;
  }

  /* Search results */

  .results-container {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .available-types {
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 27%;
  }

  .types-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: green;
  }

  .new-types {
    padding: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /*------Soc Media ----*/

  .social-links {
    padding-bottom: 15px;
    float: left;
    padding-top: 39px;
    margin-top: 10px;
    display: flex;
  }

  .social-sub {
    position: absolute;
    left: 20px;
  }

  .left {
    float: left !important;
    position: relative;
    left: 25%;
  }
}
