@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.btn-style {
    margin: 0px 10px;
    
}

.table-text {
    color: white;
}

.container-cover {  
height: 600px;
width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}


#hero-img {  
  height: 600px;
 width: 100%;
}

.welcome-text {
  margin-bottom: 150px;
  margin-top: 20x;
  height: 50px;
}

/*------ Login Section ------*/

h1 {
	padding-top: 6rem;
	text-align: center;
}

.active {
	border-bottom: 3px solid #000000;
}

#alerts {
    position: absolute;
    display: none;
    min-height: 50px;
    top: 95%;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#alerts p {
    margin: 10px 0px;
}

.page-footer {
   margin-top: 300px;
}

.card.small {
    height: 300px;
    margin-top: 60px;
}