<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}
<div class="container editType-container">
  <h4 class="page-headings">Edit Type</h4>
  <div class="row">
    <!---------- Form -------------->

    <!---------------End Vehicle Type-------->

    <form action="{{ url_for('insert_type') }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">local_taxi</i>
          <input
            id="vehicle_type"
            name="vehicle_type"
            type="text"
            class="validate"
            value="{{type.vehicle_type}}"
          />
          <label for="vehicle_type">Vehicle Type</label>
        </div>
      </div>
      <div class="row">
        <button
          class="btn waves-effect waves-light blue"
          type="submit"
          name="action"
        >
          Save Changes
          <i class="material-icons right">playlist_add</i>
        </button>
        <a
          href="{{ url_for('get_types') }}"
          class="waves-effect waves-light btn grey"
        >
          <i class="material-icons  right">cancel</i>Cancel
        </a>
      </div>
    </form>
    <!---------- End Form -------------->
  </div>
</div>

<!-- jQuerry -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>

{% endblock %}
