<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
<div class="admin-page container">
<h4 id="admin-title">Admin Panel</h4>

<!---------- Manage Vehicle Type -------------->
<div class="row">
    <div class="col s12 m6">
    <h5 class="admin-header center-align">Manage Vehicle Type</h5>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2015/06/08/15/18/steering-wheel-801994_960_720.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content center-align">
          <p class="admin-desc">Add vehicle type. Van, Station wagon, Sedan, etc.</p>         
          <a class="admin-button" href="{{ url_for('get_types') }}">Add Vehicle Type</a>
         </div>
      </div>
    </div>
  </div> 
  <!---------------End Vehicle Type-------->
   
   <!---------- Manage Vehicle Brand -------------->
  <div class="col s12 m6">
    <h5 class="admin-header">Manage Vehicle Brand</h5>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2015/08/11/22/33/nissan-885309_960_720.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content center-align">
          <p class="admin-desc">Add vehicle brand. Peugoet, Toyota, Renault, etc. etc.</p>         
          <a class="admin-button" href="{{ url_for('get_brand') }}">Add Vehicla Brand</a>
          </div>
      </div>
    </div>
  </div>
   <!---------------End Vehicle Brand -------->
</div>
     <br><br>

    <!---------- Manage Vehicle Model -------------->
    <div class="row">
  <div class="col s12 m6">
    <h5 class="admin-header">Manage Vehicle Model</h5>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2015/05/15/14/46/bmw-768688__340.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content center-align">
          <p class="admin-desc">Add a vehicle model. Avensus, Clio, Note, Tipo, etc.</p>        
          <a class="admin-button" href="{{ url_for('get_model') }}">Add Vehicle Model</a>
         </div>
      </div>
    </div>
  </div>
  
  <!---------------End Vehicle Model-------->

  <!---------- Add a new Cab -------------->
  <div class="col s12 m6">
    <h5 class="admin-header">Add a new cab</h5>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2016/02/19/11/01/taxi-1209542__340.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content center-align">
          <p class="admin-desc"> New drivers or admin can dd a new cab to the collection.</p>               
          <a class="admin-button" href="{{ url_for('add_cab') }}">Add a new Cab</a>
          </div>
      </div>
    </div>
  </div>
    <!----------End Add a new Cab -------------->    
  </div>
  </div>  

{% endblock %}
