<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
     <!-- Meterialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">          
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    
</head>
<body>
<header>
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper light-blue accent-2">
      <a href="#!" class="brand-logo">City Cab</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('home_page') }}">Home</a></li>
        <li><a href="{{ url_for('get_cabs') }}">Cabs</a></li>
        <li><a href="{{ url_for('add_booking') }}">Book Cab</a></li>
        <li><a href="{{ url_for('get_bookings') }}">View Bookings</a></li>
        <li><a href="{{ url_for('admin_page') }}">Admin</a></li>          
      </ul>
    </div> 
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
</div>
</header>
       
    {% block content %} {% endblock %}

    <!-- Footer-->
 
    <footer class="page-footer blue">
    
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>   
        </footer>
        
        <!--- End Footer-->

    <!-- jQuerry -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- jQuery-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();  
            $('.datepicker').datepicker(); 
            $('select').formSelect();
            $('.sidenav').sidenav(); 
            $(document).ready(function(){
            $('.materialboxed').materialbox();
         });       
        });

        //  Date Picker
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        document.getElementById("matfix").addEventListener("click", function(e) {
	        e.stopPropagation();
        });
    </script>
            
</body>
</html>