<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="container bookings-search">
    <h4 class="cab-headings">Booked Cabs</h4>

    <!--- Search form-->

  <div class="row ">
        <form class="col s12 m8" action="{{ url_for('search_booking') }}" method="POST">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fa fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" id="query" name="query" minlength="3" class="validate" required>
                    <label for="query">Search Bookings</label>
                </div>
                <div class="col s12 m4">
                    <button class="orange lighten-2 btn" type="submit">
                        <i class="fa fa-search left"></i> Search
                    </button>
                    <a href="{{ url_for('get_bookings') }}" class="red btn text-shadow">Cancel</a>
                </div>
            </div>
        </form>
    </div>
   
    </div>
     <!--End of Seaarch Box -->
    
    <div class="container bookings-container">

    {% for booking in bookings %}

     <div class="row grey lighten-4">
      <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed responsive-img" width="200" src="{{booking.booking_img}}">        
        </div>                
      </div>
      </div>

      <div class="col s12 m4 l4 center-align">
      <div class="new">
      <h4 class="model-display">{{booking.brand_name}}  {{booking.model_name}}</h4>    
      <p class="specs">Vehicle Type | <span class="specs-db">{{booking.vehicle_type}}</span></p> 
      <p class="specs">Booked Location | <span class="specs-db">{{booking.booking_location}}</span></p> 
      <p class="specs">Booked By | <span class="specs-db">{{booking.booking_name}}</span></p>       
      </div>      
      </div>

    <!-- Contact Details  --> 
      <div class="col s12 m4 l4 center-align"> 
      <div class="booker-info">
    <p class="specs">{{booking.booking_name}}'s | <span class="specs-db">Contact info</span></p>      
       
      <p class="specs">Email Address | <span class="specs-db">{{booking.booking_email}}</span></p> 
      <p class="specs">Phone Number | <span class="specs-db">{{booking.booking_tel}}</span></p>
      <p class="specs">Booking Date | <span class="specs-db">{{booking.booking_date}}</span></p>      
        </div>
      </div>  
    </div>
     
      
    {% endfor %}
</div>
{% endblock%}
    