<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>Brands</h5>

     {% for brand in brands %}
     <div class="row">
<table class=" striped responsive-table">       
          <tr class="table-text grey">              
              <th>Brand Name</th>              
          </tr>             
          <tr>
            <td>{{brand.brand_name}}</td>                    
          </tr>       
      </table>
</div>    
      <div class="row">      
      <a href="{{ url_for('delete_brand', brand_id=brand._id)}}" class="waves-effect waves-light btn btn-style orange">Delete</a>        
      <a href="{{ url_for('edit_brand', brand_id=brand._id)}}" class="waves-effect waves-light btn btn-style orange">Edit brand</a>     
      </div>
    {% endfor %}

 <div class="row">
<a href="{{ url_for('new_brand') }}" class="waves-effect waves-light btn"><i class="material-icons right">playlist_add</i>Add Brand</a>
</div>
</div>

{% endblock%}