<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>Cabs Page</h5>
<!--- Search Cabs form-->

  <div class="row card-panel grey lighten-5">
        <form class="col s12" action="{{ url_for('search') }}" method="POST">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fa fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" id="query" name="query" minlength="3" class="validate" required>
                    <label for="query">Search Cab</label>
                </div>
                <div class="col s12 m4">
                    <button class="light-blue darken-1 btn text-shadow" type="submit">
                        <i class="fas fa-search left"></i> Search
                    </button>
                    <a href="{{ url_for('get_cabs') }}" class="red btn text-shadow">Reset</a>
                </div>
            </div>
        </form>
    </div>
     </div>
    <br><br>
  
     {% for cab in cabs %}
     
    <div class="container cabs-container  grey lighten-5">
     <!-- trial----->
    <div class="row">
      <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed responsive-img" width="200" src="{{cab.cab_picture}}">        
        </div>                
      </div>
      </div>

      <div class="col s12 m4 l4"> 
       <div class="card-content  center-align">
      <h4 class="model-display">{{cab.model_name}}</h4>
       
          <p class="specs">Vehicle Type</p>
          <p class="specs-db">{{cab.vehicle_type}}</p>
          <p class="specs">Vehicle Brand</p>
          <p class="specs-db">{{cab.brand_name}}</p>
            </div>               
       
        </div>

      <div class="col s12 m4 l4">      
    <div id="one">
    <p>THIS CAR IS AVAILABLE FOR HIRE.</p>
    </div>
    <div id="two">
        <p class="specs-db"><span class="material-icons green-text">location_on</span> - {{cab.cab_location}}</p>
        <p class="specs-db"><span class="material-icons blue-text">email</span> - {{cab.email}}</p> 
        <p class="specs-db"><span class="material-icons DarkSlateGray-text">phone_in_talk</span> - {{cab.tel_nr}}</p>    
        </div>       
     <div id="book-thisCab">      
      <a href="{{ url_for('get_one', cab_id=cab._id)}}" class="waves-effect waves-light btn btn-style book_btn orange">book this Cab</a>     
      </div>
      </div>
    </div>        
     </div>
     
         {% endfor%}
    
{% endblock%}
    