<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>Cabs Page</h5>
<!--- Search form-->

  <div class="row card-panel grey lighten-5">
        <form class="col s12" action="{{ url_for('search') }}" method="POST">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" id="query" name="query" minlength="3" class="validate" required>
                    <label for="query">Search Cab</label>
                </div>
                <div class="col s12 m4">
                    <button class="light-blue darken-1 btn text-shadow" type="submit">
                        <i class="fas fa-search left"></i> Search
                    </button>
                    <a href="{{ url_for('get_cabs') }}" class="red btn text-shadow">Reset</a>
                </div>
            </div>
        </form>
    </div>

    <!--
    <div class="row">

    <form action="{{ url_for('search_cab') }}" method="GET">
  <input type="text" placeholder="Vehicle Type" id="vehicleType" name="vehicleType" >
  <button type="submit"><i class="fa fa-search">Search</i></button>
    </form>
    </div>
    -->
    <br><br>

    
     {% for cab in cabs %}
     <div class="row">
<table class=" striped responsive-table">       
          <tr class="table-text grey">              
              <th>Vehicle Type</th>
              <th>Cab Name</th>
              <th>Model</th>
              <th>Location</th>
              <th>Email</th>              
              <th>Tel nr</th>                           
              <th>Picture</th>
              <!--<th><i class="fa fa-calendar"></i> Date</th> -->
          </tr>             
          <tr>
            <td>{{cab.vehicle_type}}</td>                 
            <td>{{cab.brand_name}}</td> 
             <td>{{cab.model_name}}</td>
             <td>{{cab.cab_location}}</td>
             <td>{{cab.email}}</td>                 
            <td>{{cab.tel_nr}}</td>              
             <td><img class="materialboxed responsive-img" width="200" src="{{cab.cab_picture}}"></td>
             <!-- <td>{{cab.cab_date}}</td>   -->                
          </tr>       
      </table>
</div>      
      <div class="row">      
      <a href="{{ url_for('get_one', cab_id=cab._id)}}" class="waves-effect waves-light btn btn-style orange">find this Cab</a>     
      </div>
         {% endfor%}
</div>
{% endblock%}
    