<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>Find Cabs</h5>
     
     <div class="row">
<table class=" striped responsive-table">       
          <tr class="table-text grey">              
              <th><i class="fa fa-car"></i> Vehicle Type</th>
              <th>Cab Name</th>
              <th>Model</th>
              <th><i class="fa fa-map-marker"></i> Location</th>
              <th>Email</th>              
              <th><i class="fa fa-phone"></i> Tel nr</th>                           
              <th>Picture</th>
              <!--<th><i class="fa fa-calendar"></i> Date</th> -->
          </tr>             
          <tr>
            <td>{{cab.vehicle_type}}</td>                 
            <td>{{cab.brand_name}}</td> 
             <td>{{cab.model_name}}</td>
             <td>{{cab.cab_location}}</td>
             <td>{{cab.email}}</td>                 
            <td>{{cab.tel_nr}}</td>              
             <td>{{cab.cab_picture}}</td>
             <!-- <td>{{cab.cab_date}}</td>   -->                
          </tr>       
      </table>
</div>
      <br><br>
      <div class="row">
      <a href="{{ url_for('delete_cab', cab_id=cab._id)}}" class="waves-effect waves-light btn btn-style green">delete this Cab</a>
      <a href="{{ url_for('edit_cab', cab_id=cab._id)}}" class="waves-effect waves-light btn btn-style orange">Edit or book this Cab</a>      
      </div>        
</div>
{% endblock%}
    