<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}



<!---------- Hero image -------------->
<section class="cover-image container">
		<div class="row">
<img class="materialboxed responsive-img" height="700" width="100%" src="{{ url_for('static', filename='assets/img/cab2.jpg') }}">
</div>
</section>

<!----------End Hero image -------------->
<div class="container">
<div class="row">
<article>
<h3>Grenfied Cab Agency</h3>
<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
</article>
</div>
</div>

<div class="container">
<!----------city tours -------------->
<div class="row">
    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img src="{{ url_for('static', filename='assets/img/city1.jpg') }}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">City Tours</a>
        </div>
      </div>
    </div>

<!----------Airport service-------------->   
    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img src="{{ url_for('static', filename='assets/img/airport.jpg') }}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">Airport Service</a>
        </div>
      </div>
    </div>
  </div>  
</div>
<!--------- End Airport service---------->  

{% endblock %}
