<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>Cabs Models</h5>

     {% for model in models %}
     <div class="row">
<table class=" striped responsive-table">       
          <tr class="table-text grey">              
              <th>Model</th>              
          </tr>             
          <tr>
            <td>{{model.model_name}}</td>               
                        
          </tr>       
      </table>
</div>
    
      <div class="row">      
      <a href="" class="waves-effect waves-light btn btn-style orange">find this Cab</a>        
      <a href="{{ url_for('edit_model', model_id=model._id)}}" class="waves-effect waves-light btn btn-style orange">Edit category</a>     
      </div>
         {% endfor%}
</div>
{% endblock%}
    