<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>Results</h5>

    {% for cab in cabs %}
     <div class="row">
<table class=" striped responsive-table">       
          <tr class="table-text grey">              
              <th>Vehicle Type</th>
              <th>Cab Name</th>
              <th>Model</th>
              <th>Location</th>
              <th>Email</th>              
              <th>Tel nr</th>                           
              <th>Picture</th>
              <!--<th><i class="fa fa-calendar"></i> Date</th> -->
          </tr>             
          <tr>
            <td>{{cab.vehicle_type}}</td>                 
            <td>{{cab.brand_name}}</td> 
             <td>{{cab.model_name}}</td>
             <td>{{cab.cab_location}}</td>
             <td>{{cab.email}}</td>                 
            <td>{{cab.tel_nr}}</td>              
             <td><img class="materialboxed responsive-img" width="200" src="{{cab.cab_picture}}"></td>
             <!-- <td>{{cab.cab_date}}</td>   -->                
          </tr>       
      </table>
</div>      
      <div class="row">      
      <a href="{{ url_for('get_one', cab_id=cab._id)}}" class="waves-effect waves-light btn btn-style orange">find this Cab</a>     
      </div>
         {% endfor%}
</div>
{% endblock%}
    