<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}

<div class="container results-container">
  <h4 class="page-headings">Results</h4>
  <!-- back Btn----->  
<div class="center-align">
<a href="{{ url_for('cabs') }}" class="waves-effectblue blue waves-light btn">
	<span class="material-icons"></span>Back to Cabs</a>
    </div><br><br>

  {% for cab in cabs %}
  <div class="row grey lighten-5">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img
            class="materialboxed responsive-img"
            width="200"
            src="{{cab.cab_picture}}"
          />
        </div>
      </div>
    </div>

    <!-- Cab Model ccolumn-->
    <div class="col s12 m4 l4">
      <div class="card-content center-align">
        <h4 class="model-display">{{cab.brand_name}}</h4>
        <p class="specs1">
          Vehicle Type | <span class="specs-db1">{{cab.vehicle_type}}</span>
        </p>

        <p>Base Rates From</p>
        <p id="rates"><i class="fa fa-gbp"></i> 11.99</p>
        <small
          >Additional charges may apply as per distance or toll charges</small
        >
      </div>
    </div>
    <!-- End Cab Model ccolumn-->

    <!-- End book this Cab -->
    <div class="col s12 m4 l4 center-align">
      <!--<div class="available"></div> -->
      <p class="specs">Contact information</p>

      <div class="book-it">
        <p class="specs">
          Owner: <span class="specs-db"> {{cab.owner_name}}</span>
        </p>
        <p class="specs">
          Location: <span class="specs-db"> {{cab.cab_location}}</span>
        </p>
        <p class="specs">
          Email Address: <span class="specs-db"> {{cab.email}}</span>
        </p>
        <p class="specs">
          Phone Number: <span class="specs-db"> {{cab.tel_nr}}</span>
        </p>
      </div>

      <div id="book-thisCab">
        Email or call the driver directly to arrange a booking.
      </div>
    </div>
  </div>
  {% endfor%}
  <br><br>
<div class="center-align">
<a href="{{ url_for('cabs') }}" class="waves-effectblue blue waves-light btn">
	<span class="material-icons"></span>Back to Cabs</a>
    </div>
</div>

{% endblock%}
